@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient{
    background: linear-gradient(180deg, #06286E 0%, #164EC0 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}
.background{
    /* background: linear-gradient(222.94deg, #071844 -4.31%, #071844 -0.03%, #2D87B6 84.9%, #2D87B6 103.81%); */
    background: linear-gradient(222.94deg, #051A91 -4.31%, #061C93 14.41%, #2284F1 81.88%, #1F80EB 103.81%);


}
.bg-2{
    background: linear-gradient(222.94deg, #071844 -4.31%, #071844 -0.03%, #2D87B6 84.9%, #2D87B6 103.81%);

}



.flip-card {
    perspective: 1000px;
  }
  
  .flip-card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card-front,
  
  .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }
  
  @keyframes rotateGradient {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }